#app {
  display: none;
}

section {
  margin-top: 50px;
}

h4 {
  color: rgba(160,160,160,1);
}

h4.active {
  color: rgba(0,0,0,1);
}

input {
  padding: 10px;
  margin: 10px 0;
}

.button {
  background-color: black;
  color: white;
  border: none;
  padding: 20px;
  width: 80px;
}

.button.hot {
  background-color: red;
}

.button.ice {
  background-color: blue;
}

.button.exit {
  background-color: rgba(100,100,100,1);
}

.button[disabled] {
  background-color: rgba(230,230,230,1);
}

.recipe {
  border: 1.5px solid rgba(230,230,230,1);
  /* border-radius: 10px; */
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0 10px;
}

.recipe.hot {
  border: 1.5px solid red;
}

.recipe.ice {
  border: 1.5px solid blue;
}

.desc {
  font-size: 16px;
}